<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.ashlikun.baseproject.module.debug.ModuleDebugApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/login_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--aaa-->
        <activity
            android:name=".view.activity.AdddActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"/>        <!--Dawda伟大时代-->
        <activity
            android:name=".view.activity.WDasdwActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"/>        <!--adawAw哇塞的-->
        <activity
            android:name=".view.activity.WDSadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"/>        <!--啊圣诞袜-->
        <activity
            android:name=".view.activity.WadsawdActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"/
        <!--啊实打实的-->
        <activity
            android:name=".view.activity.AsdasdaActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"/>
    </application>
</manifest>