<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashlikun.baseproject.module.other">

    <application>
        <activity
            android:name=".view.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashlikun.baseproject.module.other.view.ImageLockActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LookImage" />
        <activity
            android:name="com.ashlikun.baseproject.module.other.view.H5Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme" />
        <activity
            android:name=".view.TestActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.Test2Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"
            android:windowSoftInputMode="adjustResize"></activity>
            <activity
            android:name=".view.DownLoadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"></activity>

    </application>

</manifest>