<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashlikun.baseproject.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <application>
        <!-- 显示Fragment的Activity-->
        <activity
            android:name=".view.activity.ShowFragmentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme" />

        <meta-data
            android:name="BUGLY_APPKEY"
            android:value="${BUGLY_APPKEY}"></meta-data>
        <meta-data
            android:name="DOKIT_PID"
            android:value="${DOKIT_PID}"></meta-data>
        <meta-data
            android:name="JPUSH_PKGNAME"
            android:value="${applicationId}"></meta-data>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".utils.jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <!--需要配置这个,并且不调用super.onNotifyMessageOpened，不然打开就是重新启动应用-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置 android:process=":pushcore"参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".utils.jpush.MyJpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
    </application>
    <!--适配android 11无法唤起第三方apk-->
    <queries>
        <!-- 微信 -->
        <package android:name="com.tencent.mm" />
        <!-- 微博 -->
        <package android:name="com.sina.weibo" />
        <!-- Facebook -->
        <package android:name="com.facebook.katana" />
        <!-- Twitter -->
        <package android:name="com.twitter.android" />
        <!-- WhatsAPP -->
        <package android:name="com.whatsapp" />
        <!-- QQ -->
        <package android:name="com.tencent.mobileqq" />
        <!-- 高德 -->
        <package android:name="com.autonavi.minimap" />
        <!-- 百度 -->
        <package android:name="com.baidu.BaiduMap" />
    </queries>
</manifest>