<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashlikun.baseproject.libcore">

    <application android:theme="@style/AppTheme">
        <activity
            android:name="com.ashlikun.photo_hander.PhotoHanderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.OtherTheme"></activity>
    </application>

</manifest>