<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/AppTheme">
        <activity
            android:name="com.ashlikun.photo_hander.PhotoHandlerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PhotoHandler"></activity>
        <activity
            android:name="com.ashlikun.photo_hander.crop.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PhotoHandler"></activity>
    </application>

</manifest>